
@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(180deg,#093a2e 0,#000116);
        background-color: #093a2e;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
    }

    a {
        color: #4CAF50;
        text-shadow: 0 0 3px #000;
    }

    .box_text {
        color: #000;
    }
}
